* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: roboto;
}

body {
	display: flex;
	flex-direction: column;
}

header, main, footer {
	border: 2px solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: #F9FAF8;
	font-size: 48px;
}
ul {
	list-style: none;
}
.hero p,
a {
	text-decoration: none;
	color: #E5E7EB;
	font-size: 18px;
}
.hero {
	border: 1px solid red;
}

header nav{
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
	align-items: center;
}

header section {
	margin-top: auto;
	margin-bottom: 48px;
}
/* The header styling */
header, footer {
	background-color: #1F2937;
}

header {
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/* The header styling */
nav {
	display: flex;
	justify-content: space-between;
	border: 1px solid red;
	height: 60px;
	background-color: black;
}
.logo p{
	font-size: 24px;
	color: #F9FAF8;

}
.logo {
	margin-left: 16px;
}
nav ul {
	display: flex;
	gap: 32px;
	margin-right: 16px;
}