* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: roboto;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

header, main, footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	color: #F9FAF8;
	font-size: 48px;
}
ul {
	list-style: none;
}
.hero p,
a {
	text-decoration: none;
	color: #E5E7EB;
	font-size: 18px;
}

header nav{
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
	align-items: center;
}

/* The header styling */
header, footer {
	background-color: #1F2937;
}

header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/* The header styling */
nav {
	display: flex;
	justify-content: space-between;
	height: 60px;
	background-color: black;
}
.logo p{
	font-size: 24px;
	color: #F9FAF8;

}
.logo {
	margin-left: 16px;
}
nav ul {
	display: flex;
	gap: 32px;
	margin-right: 16px;
}

/* The hero styling */
.hero {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex:1;
}

.hero > div {
	flex:1;
}

.hero .right_content{
	display: flex;
	justify-content: center;
}
.hero .right_content img {

	height: 287px;
	max-width: 415px;
}

.hero .left_content > * {
	margin: 16px;
	max-width: 415px;
}

button {
	padding: 8px 16px;
	width: 7em;
	border-radius: 10px;
	border: none;
	background-color: #3882F6;
	color: #F9FAF8;
}



/* the main styling */

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

main > section {
	padding: 50px 0;
	height: calc(100% / 3);
}
main .info {
	padding-top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .info h2 {
	padding: 20px;
}
main .info div {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	column-gap: 32px;
	row-gap: 16px;
	flex-wrap: wrap;
}

main .info div > div {
	display: flex;
	width: 202px;
	flex-direction: column;
}

main .info div > div > img {
	width: 200px;
	height: 200px;
	border: 2px solid blue;
	border-radius: 10px;
}

main .quot {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 23%;
	background-color: #eeee;
	width: 100%;
	height: 300px;
}
main .quot  div p:nth-child(2) {
	float: right;
	padding: 16px;
	font-weight: bold;
}

.call > div {
	background-color: #3882F6;
	color: #E5E7EB;
	border-radius: 20px;
	display: flex;
	align-items: center;
	height: 130px;
	gap: 32px;
	padding: 50px;

}

.call > div > div{
	flex:1;
}
.call > div > button {
	border: 2px solid #fff;
}


/* footer styling  */

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	color: #F9FAF8;
}